@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=SUSE:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}
@layer utilities {
  .mask-gradient {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #fff 30%,
      #fff 70%,
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      #fff 30%,
      #fff 70%,
      transparent
    );
  }
}
